anndata==0.10.8
array_api_compat==1.7.1
asttokens==2.4.1
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1719088281970/work
fonttools==4.53.1
fsspec==2024.6.1
geomloss==0.2.6
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1715527293187/work
h5py==3.11.0
ipython==8.26.0
jedi==0.19.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib==1.4.2
kiwisolver==1.4.5
legacy-api-wrap==1.4
llvmlite==0.43.0
loompy==3.0.7
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899920239/work
matplotlib==3.9.1
matplotlib-inline==0.1.7
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
natsort==8.4.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
numba==0.60.0
numpy==1.26.4
numpy-groupies==0.11.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
packaging==24.1
pandas==2.2.2
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
pillow==10.4.0
POT==0.9.4
prompt_toolkit==3.0.47
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pynndescent==0.5.13
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373450623/work
scanpy==1.10.2
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
session_info==1.0.0
setuptools==70.3.0
six==1.16.0
stack-data==0.6.3
statsmodels==0.14.2
stdlib-list==0.10.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1721004824012/work
threadpoolctl==3.5.0
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tqdm==4.66.4
traitlets==5.14.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata==2024.1
umap-learn==0.5.6
wcwidth==0.2.13
wheel==0.43.0
